@font-face {
  font-family: "Poppins";
  src: url("./font/Poppins-Regular.ttf") format("ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  font-family: "Poppins", sans-serif;
}
